.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.13em 2.1em;

  background: $secondary;
  border: none;
  border-radius: 2em;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 500;
  color: $white;
  text-decoration: none;

  transition: background-color .2s linear;

  &:focus {
    outline: none;
  }

  &--red {
    background-color: $red;
    box-shadow: 0 7px 17px -10px rgba($red, .3);

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: darken($red, 8%);
    }
  }
  &--blue {
    background-color: $blue;
    box-shadow: 0 7px 17px -10px rgba($blue, .3);

    &:hover,
    &:focus {
      background-color: darken($blue, 8%);
    }
  }

  &--rounded {
    border-radius: 0.41em;
  }

  &--sm {
    padding: 0.7em 1.25em ;
  }
}